<?xml version="1.0"?>
<launch>
	<arg name="gui" 		default="false" />
	<arg name="controller" 		default="TaskInverseKinematics" />
	<arg name="stopped_controllers" default="TaskInverseKinematics" />

	<arg name="use_lwr_sim" 	default="true"/>
	<arg name="use_rviz" 		default="true"/>
	<arg name="robot_name" 		default="ahand"/>

  	<param name="robot_description" command="$(find xacro)/xacro.py '$(find allegro_hand_description)/urdf/allegro_hand.xacro'" />
	<param name="use_gui" value="$(arg gui)"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<rosparam param="source_list">[/ahand/joint_states]</rosparam>
	</node>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<!-- load controller -->
	<include file="$(find ahand_controllers)/launch/load_controller.launch">
		<arg name="controller" value="$(arg controller)" />
		<arg name="stopped_controllers" value="$(arg stopped_controllers)" />
	</include>

	<group if="$(arg use_rviz)">
		<node name="rviz" pkg="rviz" type="rviz" required="true" />
	</group>

	<group if="$(arg use_lwr_sim)">
		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name)"  respawn="false" output="screen" />

		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="world_name" value="simple world"/>
			<arg name="paused" value="true"/>
			<arg name="use_sim_time" value="true"/>
			<arg name="gui" value="true"/>
			<arg name="headless" value="false"/>
			<arg name="debug" value="false"/>
		</include>

	</group>

</launch>
