<?xml version="1.0"?>
<launch>

	<arg name="robot_name" 			default="ahand"/>
	<arg name="output"				default="screen"/>

	<group ns="$(arg robot_name)">

   		<param name="robot_description" command="$(find xacro)/xacro.py '$(find ahand_description)/urdf/ahand.xacro'" />

		<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
            <rosparam param="publish_frequency">300</rosparam>
        </node>

	</group>


	<include file="$(find ahand_controllers)/launch/load_controller.launch">
		<arg name="namespace" value ="$(arg robot_name)"/>
		<arg name="controller" value="$(arg controller)" />
	</include>

	<!-- hardware interface to allegro hand -->
	<node name="ahand_can" pkg="ahand_hw" type="ahand_hw_can_node" args="-n $(arg robot_name)" output="$(arg output)"/>

</launch>
