<?xml version="1.0"?>
<robot name="ahand" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find allegro_hand_description)/urdf/allegro_hand_description_right.xacro"/>

<link name="world"/>

<xacro:ahand_robot name="ahand" parent_link="world" xyz="0.0 0 0.15" rpy="0 0 0"/>

</robot>
