<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

 <xacro:macro name="ahand_transmission" params="name">

   <xacro:finger_transmission name="${name}" finger_num="0"/>
   <xacro:finger_transmission name="${name}" finger_num="1"/>
   <xacro:finger_transmission name="${name}" finger_num="2"/>
   <xacro:finger_transmission name="${name}" finger_num="3"/>

   <xacro:finger_transmission name="${name}" finger_num="4"/>
   <xacro:finger_transmission name="${name}" finger_num="5"/>
   <xacro:finger_transmission name="${name}" finger_num="6"/>
   <xacro:finger_transmission name="${name}" finger_num="7"/>

   <xacro:finger_transmission name="${name}" finger_num="8"/>
   <xacro:finger_transmission name="${name}" finger_num="9"/>
   <xacro:finger_transmission name="${name}" finger_num="10"/>
   <xacro:finger_transmission name="${name}" finger_num="11"/>

   <xacro:finger_transmission name="${name}" finger_num="12"/>
   <xacro:finger_transmission name="${name}" finger_num="13"/>
   <xacro:finger_transmission name="${name}" finger_num="14"/>
   <xacro:finger_transmission name="${name}" finger_num="15"/>

 </xacro:macro>

 <!-- High-leveel hand macro -->
 <xacro:macro name="finger_transmission" params="name finger_num">
   <transmission name="${name}_${finger_num}_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${name}_joint_${finger_num}">
       <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="${name}_${finger_num}_motor">
       <mechanicalReduction>1</mechanicalReduction>
     </actuator>
   </transmission>
 </xacro:macro>


</robot>
