<?xml version="1.0"?>
<robot name="ahand" xmlns:xacro="http://ros.org/wiki/xacro">


    <xacro:property name="hand_type" default="left" />
    <xacro:include filename="$(find ahand_description)/urdf/ahand_${hand_type}.xacro"/>

    <link name="world"/>

    <xacro:ahand_robot name="ahand" parent_link="world" xyz="0.0 0 0.15" rpy="0 0 0"/>

</robot>
