<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	
   <xacro:macro name="ahand_gazebo" params="name">

	<gazebo>
	  <plugin name="${name}_hw_sim" filename="libahand_hw_gazebo_plugin.so">
	    <robotNamespace>${name}</robotNamespace>
	  </plugin>
	</gazebo>

    	<xacro:gz_finger finger_num="0"/>
    	<xacro:gz_finger finger_num="1"/>
    	<xacro:gz_finger finger_num="2"/>
    	<xacro:gz_finger finger_num="3"/>

    	<xacro:gz_finger finger_num="4"/>
    	<xacro:gz_finger finger_num="5"/>
    	<xacro:gz_finger finger_num="6"/>
    	<xacro:gz_finger finger_num="7"/>

    	<xacro:gz_finger finger_num="8"/>
    	<xacro:gz_finger finger_num="9"/>
    	<xacro:gz_finger finger_num="10"/>
    	<xacro:gz_finger finger_num="11"/>

    	<xacro:gz_finger finger_num="12"/>
    	<xacro:gz_finger finger_num="13"/>
    	<xacro:gz_finger finger_num="14"/>
    	<xacro:gz_finger finger_num="15"/>


  </xacro:macro>


  <xacro:macro name="gz_finger" params="finger_num">
  <gazebo reference="${name}_link_${finger_num}">
  	<gravity>true</gravity>
    	<selfCollide>false</selfCollide>
  </gazebo>
  </xacro:macro>



</robot>
